@page "/"

<PageTitle>Burger Configurator</PageTitle>

<h1>Burger Configurator</h1>

<p>Burger without topping: $@baseBurgerCost</p>
<p>Free topping: @selectedTopping</p>

<p>Total Cost: $@totalCost</p>

<p>Grand Total: $@grandTotal</p>

<p>Please choose your toppings from the list below:</p>

<span>Free topping:</span>
<select class="select-element" @bind="selectedTopping">
    @foreach (var topping in toppings)
    {
        <option value="@topping.Name">@topping.Name</option>
    }
</select>
<br/>
<span>Second topping:</span>
<select class="select-element" @onchange="@HandleChange">
    @foreach (var topping in toppings)
    {
        <option value="@topping.Id">@topping.Name  +$@topping.Price</option>
    }
</select>
<br/>
<span>Third topping:</span>
<select class="select-element" @bind="selectedThirdTopping" @bind:after="CalculateGrandTotal">
    @foreach (var topping in toppings)
    {
        <option value="@topping.Id">@topping.Name +$@topping.Price</option>
    }
</select>

@code
{
    public record Topping(int Id, string Name, double Price);
    public string? selectedTopping;
    public string? selectedSecondTopping;
    public string? selectedThirdTopping;
    public static double baseBurgerCost = 5.4;
    public double totalCost = baseBurgerCost;
    public double grandTotal;

    public List<Topping> toppings = new List<Topping>()
    {
        new Topping(1, "No Topping", 0),
        new Topping(2, "Cheese", 2.4),
        new Topping(3, "Onions", 0.7),
        new Topping(4, "Pickles", 1.3),
        new Topping(5, "Avocado", 4.6),
        new Topping(6, "Lettuce", 1.1)
    };

    public void HandleChange(ChangeEventArgs args)
    {
        @foreach (var topping in toppings)
        {
            if (topping.Id == int.Parse(args.Value.ToString()))
            {
                selectedSecondTopping = topping.Name;
                totalCost = Math.Round(baseBurgerCost + topping.Price, 2);
            }
        }
    }

    public async Task CalculateGrandTotal()
    {
        await Task.Delay(2000);

        @foreach (var topping in toppings)
        {
            if (topping.Id == int.Parse(selectedThirdTopping))
            {
                grandTotal = Math.Round(totalCost + topping.Price, 2);
            }
        }
    }
}
