@page
@model Firebase.Pages.Auth.LoginModel
@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>

<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div class="form-group mb-2">
                <label asp-for="@Model.UserDto.Email" class="control-label"></label>
                <input asp-for="@Model.UserDto.Email" class="form-control" type="email"/>
                <span asp-validation-for="@Model.UserDto.Email" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <label asp-for="@Model.UserDto.Password" class="control-label"></label>
                <input asp-for="@Model.UserDto.Password" class="form-control" type="password"/>
                <span asp-validation-for="@Model.UserDto.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>