@page
@model Firebase.Pages.Firestore.CreateModel
@{
    ViewData["Title"] = "Create Shoe";
}

<h2>Create Shoe</h2>

<div class="row">
    <div class="col-md-4">
        <form method="post"enctype="multipart/form-data">
            <div class="form-group mb-2">
                <label asp-for="@Model.Shoe.Name" class="control-label"></label>
                <input asp-for="@Model.Shoe.Name" class="form-control" />
                <span asp-validation-for="@Model.Shoe.Name" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <label asp-for="@Model.Shoe.Brand" class="control-label"></label>
                <input asp-for="@Model.Shoe.Brand" class="form-control" />
                <span asp-validation-for="@Model.Shoe.Brand" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <label asp-for="@Model.Shoe.Price" class="control-label"></label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">£</span>
                    </div>
                    <input asp-for="@Model.Shoe.Price" class="form-control" />
                </div>
                <span asp-validation-for="@Model.Shoe.Price" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <label asp-for="@Model.Shoe.Image" class="control-label"></label>
                <input type="file" asp-for="@Model.Shoe.Image" accept="image/png, image/jpeg" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
