@page "/"
@model PreventSQLInjectionAttacks.Pages.BooksModel

<h3>Show All Books:</h3>
<ul class="nav nav-pills">
    <li class="nav-item">
        <a class="nav-link @(Model.SelectedTable == "EFCore" ? "active" : "")" asp-page="./Books"
           asp-route-SelectedTable="EFCore" asp-route-searchTerm="@Request.Query["searchTerm"]">
            EF Core
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link @(Model.SelectedTable == "Dapper" ? "active" : "")" asp-page="./Books"
           asp-route-SelectedTable="Dapper" asp-route-searchTerm="@Request.Query["searchTerm"]">
            Dapper
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link @(Model.SelectedTable == "ADO" ? "active" : "")" asp-page="./Books"
           asp-route-SelectedTable="ADO" asp-route-searchTerm="@Request.Query["searchTerm"]">
            ADO.NET
        </a>
    </li>
</ul>

@if (Model.SelectedTable == "EFCore")
{
    <h3>Books (EF Core)</h3>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Author</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var book in Model.BooksEFCore)
            {
                <tr>
                    <td>@book.Id</td>
                    <td>@book.Title</td>
                    <td>@book.Author</td>
                </tr>
            }
        </tbody>
    </table>
}
else if (Model.SelectedTable == "Dapper")
{
    <h3>Books (Dapper)</h3>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Author</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var book in Model.BooksDapper)
            {
                <tr>
                    <td>@book.Id</td>
                    <td>@book.Title</td>
                    <td>@book.Author</td>
                </tr>
            }
        </tbody>
    </table>
}
else if (Model.SelectedTable == "ADO")
{
    <h3>Books (ADO.NET)</h3>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Author</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var book in Model.BooksADO)
            {
                <tr>
                    <td>@book.Id</td>
                    <td>@book.Title</td>
                    <td>@book.Author</td>
                </tr>
            }
        </tbody>
    </table>
}

<a asp-page="/CreateBook" class="btn btn-primary">Create A Book</a>

<a asp-page="/SearchBooks" class="btn btn-primary">Search A Book</a>